*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

/* HEADER */
header {
  display:flex;
  align-items: center;
  justify-content: flex-end;
  width:100%;
  position:fixed;
  padding: 30px 30px 30px 30px;
  /* background-color: #938DF8; */
  background-color: rgb(0, 0, 0);
}

.menu{
  display:flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
}

.menu--menu{
  display:flex;
  flex-wrap:nowrap;
  justify-content: flex-end;
  width: 50%;
}

.menu--item{
  padding: 0 20px;
}

.menu--item a{
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: goldenrod;
  padding: 0 5px;
  text-decoration: none;
  transition: all .8s ease;
}

.menu--item a:hover{
  background-color: #393939;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
}

/* MAIN */
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:580px;
  padding: 50px;
  margin-top: 60px;
  /* background-color: #EDEAEA; */
  background: linear-gradient(#7ACBF5, #EAACB8, #FFFF, #EAACB8,#7ACBF5 )
}

.container figure .profile-pic{
  border-radius: 50px;
  margin-bottom: 25px;
}

.profile-pic {
  transform:rotate(-25deg);
}

.title{
  font-weight: 700;
  font-size: 36px;
  color: #938DF8;
}

.subtitle{
  font-size: 24px;
  color: #C5C0C0;
  margin-top: -15px;
}

.rotate{
  transform:rotate(-5deg);
}

article{
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.intro{
  text-align: center;
}

.intro p{
  font-family: 'ABeeZee', sans-serif;
  font-size: 16px;
  margin-top: 30px;
  width:60%
}

/* FORMAÇÃO E PORTFOLIO*/

section li{
  list-style: none;
}

#formacao h2{
  /* color: #49BFB3; */
  color: #EAACB8;
  text-shadow: 2px 2px 6px #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin-left: 138px;
}
#portfolio h2{
  /* color: #49BFB3; */
  color: #7ACBF5;
  text-shadow: 2px 2px 6px #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin-left: 138px;
}

section h4{
  color: #828282;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

section a{
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
  color: #2F80ED;
}

section p{
  font-style: normal;
  color: #828282;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

.space{
  margin-bottom: 5px;
}

a.space{
  color: #D0EF0B;
  text-decoration: none;
}

.double-space{
  margin-bottom: 15px;
}

/* FORMAÇÃO */
.content{
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  padding: 100px 0;

}
#formacao{
  /* background-color: #ffff; */
  background-color: #7accf5;
  /* background: linear-gradient(#7ACBF5, #EAACB8) */
}

.content ul{
  padding: 60px 0;
}

.content span {
  transition: all .8s ease;
}

.content span:hover {
  color: #56AE92;
  padding: 5px;
  border-radius: 5px;
  background-color: #005238;
}

a.vtex{
  text-decoration: none;
  color: magenta;
}

/* PORTFOLIO */
#portfolio{
  /* background-color: #EDEAEA; */
  background-color: #EAACB8;
}

#portfolio>.content{
  /* background-color: #EDEAEA; */
  /* background-color: #EAACB8; */
  display: flex;
  flex-direction: column;
}

/* PORTFOLIO CONTENT */
.portfolio-content{
  border: 1px transparent black;
}
.content.portfolio-content{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 60px;
}

.portfolio-item{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:100%;
}

.portfolio-item span {
  transition: all 0.8s ease 0s;
}

.portfolio-item span:hover {
  color: #56AE92;
  padding: 5px;
  border-radius: 5px;
  background-color: #005238;
}

.portfolio-item figure{
  margin: 10px;
  transition: all 0.3s ease 0s;
}

.portfolio-item figure:hover{
  transform: translateY(-7px);
}

.portfolio-item figure img{
  border-radius: 30px;
  border: 6px dotted #7db4cf;
}

.portfolio-item:nth-child(even){
  flex-direction: row-reverse;
}

.portfolio-item img{
  width: 300px;
}

/* FOOTER */
#contato {
  display: flex;
  flex-direction: column;
  /* background-color: #5A53D8; */
  background-color: black;
  padding: 20px; 
}

#contato div:hover{
  background-color: #393939;
  border-radius: 5px;
  padding: 5px;
}

#contato span {
  color: goldenrod;
  padding-right: 15px;
  font-size: 15px;
}

#contato a{
  color: goldenrod;
  display: inline-block;
  width: 100%;
  margin-left: 10px;
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
  transition: all 0.3s ease 0s;
}

.underline{
  text-decoration: underline !important;
}

@media screen and (max-width: 800px) {
  body{
    width: 100%;
    margin: 0 auto;
  }
  .content{
    max-width: 80%;
  }
}

@media screen and (max-width: 700px) {
  body{
    width: 100%;
    margin: 0 auto;
  }
  .content{
    max-width: 80%;
  }
  #formacao .content{
    display: flex;
    flex-direction: column;
  }
  .content ul{
    width: 100%;
    padding: 10px 0;
  }
}